<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M_stu_Html</title>
    <style media="screen">
        html {
            background: url(img/bg2.png) no-repeat center fixed;
            background-size: 1380px 700px;
        }
    </style>
</head>

<body>

    <img src='img/b6.png' width="239px " height="239px " vspace="239" hspace="300 ">
    <img src='img/b7.png' width="239px " height="239px " vspace="239" hspace="0">


</body>

</html>