<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teach_Table_Html</title>
    <style media="screen">
        html {
            background: url(img/bg5.png) no-repeat center fixed;
            background-size: 1380px 705px;
        }
        
        .container {
            position: relative;
            text-align: left;
            color: black;
        }
        
        .text {
            position: relative;
            bottom: -50px;
            left: 30px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>
            <div class="text">ตารางสอน</div>
        </h1>
    </div>
</body>

</html>